# Facet Dive

## Import libraries

In [1]:
# Import the client library
import sys
import os
import pathlib
import subprocess
import json 
import requests
import getpass
import urllib.parse

## Defined GCP env variables

In [2]:
try:
    tmp=os.environ['PROJECT_ID']
except:
    print('Env variable PROJECT not defined!') 

try:
    tmp=os.environ['BUCKET_NAME']
except:
    print('Env variable BUCKET_NAME not defined!') 
    
try:    
    tmp=os.environ['GOOGLE_APPLICATION_CREDENTIALS']
except:
    print('Env variable GOOGLE_APPLICATION_CREDENTIALS not defined!') 

try:
    tmp=os.environ['REQUESTS_CA_BUNDLE']
except:
    print('Env variable REQUESTS_CA_BUNDLE not defined!') 

try:
    tmp=os.environ['AXA_CH_CA_BUNDLE']
except:
    print('Env variable AXA_CA_CA_BUNDLE not defined!')

Env variable GOOGLE_APPLICATION_CREDENTIALS not defined!
Env variable REQUESTS_CA_BUNDLE not defined!
Env variable AXA_CA_CA_BUNDLE not defined!

## Extracting some data from BigQuery

In [3]:
from google.cloud import bigquery
client = bigquery.Client()

query = """SELECT
*
FROM
 `bigquery-public-data.stackoverflow.stackoverflow_posts`
WHERE tags="python"
"""
df = client.query(query).to_dataframe()
print(len(df))
df.head(20)

46085

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,16478566,Matching filenames with list using a loop igno...,<p>What I want to do is match a set of files a...,NaN,1,0,NaT,2013-05-10 08:59:22.727000+00:00,NaN,2013-05-10 09:12:41.887000+00:00,NaT,None,NaN,user2080223,NaN,None,1,1,python,95
1,26219149,Read File strip whitespace,<p>Working through CorePytho I can print a fil...,NaN,1,0,NaT,2014-10-06 14:36:43.520000+00:00,NaN,2014-10-06 15:04:56.107000+00:00,NaT,None,NaN,Scott Parkis,3298643.0,None,1,-1,python,136
2,992638,How to setup twill for python 2.6 on Windows?,<p>I have already downloaded twill 0.9. Also I...,NaN,2,0,NaT,2009-06-14 10:57:27.983000+00:00,NaN,2009-06-14 11:03:37.410000+00:00,NaT,None,NaN,None,NaN,None,1,0,python,1311
3,85451,Python - time.clock() vs. time.time() - accuracy?,<p>Which is better to use for timing in Python...,NaN,14,2,NaT,2008-09-17 17:09:13.330000+00:00,106.0,2016-03-11 00:15:17.457000+00:00,NaT,None,NaN,cgoldberg,16148.0,None,1,317,python,282844
4,9027996,Recording a win or loss in a game of craps,<p>So I have to create a game of craps that ta...,9028064.0,1,0,NaT,2012-01-27 01:41:40.637000+00:00,NaN,2012-01-27 02:01:37.573000+00:00,2012-01-27 02:00:35.190000+00:00,None,972208.0,None,1172584.0,None,1,2,python,638
5,18086963,How can I take two numbers and add multiply su...,<p>So far I have this I'm trying to add on to ...,18087025.0,1,2,NaT,2013-08-06 17:44:43.930000+00:00,NaN,2013-08-06 18:00:55.810000+00:00,2013-08-06 18:00:55.810000+00:00,None,1357341.0,None,2657861.0,None,1,-3,python,2758
6,36360469,Read .nc (netcdf) files using python,<p>I am trying to learn how to read .nc (netcd...,36360598.0,1,3,NaT,2016-04-01 15:43:36.213000+00:00,NaN,2016-04-01 16:30:56.913000+00:00,2016-04-01 16:30:56.913000+00:00,None,5609523.0,None,6093740.0,None,1,3,python,46
7,27390840,Python Float Lost with Big Numbers,<p>I am working with some large numbers and ha...,27390969.0,1,4,NaT,2014-12-09 23:32:02.863000+00:00,NaN,2014-12-10 00:32:22.337000+00:00,2014-12-10 00:32:22.337000+00:00,None,4099593.0,None,3483459.0,None,1,2,python,54
8,17503506,I have variable which asks for users input how...,<p>This is my code:-</p> <pre><code>print Welc...,17503511.0,1,8,NaT,2013-07-06 13:36:46.463000+00:00,NaN,2013-07-06 13:52:43.653000+00:00,2013-07-06 13:52:43.653000+00:00,None,1104674.0,None,2021393.0,None,1,0,python,81
9,16404721,Python search folder and make a Dictionary,<p>I need to make a Dictionary out of some fol...,16405037.0,1,8,NaT,2013-05-06 18:18:14.490000+00:00,NaN,2013-05-06 18:39:39.897000+00:00,2013-05-06 18:30:12.443000+00:00,None,2250175.0,None,2250175.0,None,1,1,python,74
10,24833369,Search a list in a list,<p>Say I have a list:</p> <pre><code>D = [str1...,24833724.0,1,9,NaT,2014-07-18 20:35:03.283000+00:00,NaN,2014-07-18 20:59:19.707000+00:00,2014-07-18 20:40:58.647000+00:00,None,3845722.0,None,3845722.0,None,1,-1,python,64
11,23229189,How to read a url directory in Python,<p>I can use the urllib module to open a url f...,23229928.0,1,13,NaT,2014-04-22 20:08:15.960000+00:00,NaN,2014-04-27 05:54:33.413000+00:00,2014-04-22 20:53:42.660000+00:00,None,2581912.0,None,2581912.0,None,1,0,python,132
12,27955584,Python dictionary value assignment from variable,<p>I have this routine:</p> <pre><code>def _ge...,27955611.0,1,0,NaT,2015-01-15 01:46:22.413000+00:00,NaN,2015-01-15 01:49:49.093000+00:00,NaT,None,NaN,None,425715.0,None,1,0,python,27
13,9736301,Alternative to u'' for unicode strings,<p>I have the following asp script which uses ...,9736394.0,1,0,NaT,2012-03-16 11:19:14.417000+00:00,NaN,2012-03-16 11:25:28.937000+00:00,NaT,None,NaN,None,607846.0,None,1,0,python,133
14,19134139,Python - why list method returns nothing?,<p>I found that from statement <code>li = str....,19134190.0,1,1,NaT,2013-10-02 09:47:47.850000+00:00,NaN,2013-10-02 09:50:18.517000+00:00,NaT,None,NaN,None,605280.0,None,1,0,python,47
15,27090468,Compare german umlaut in Python,<p>I have a list of german words and I want to...,27090571.0,1,3,NaT,2014-11-23 15:14:28.590000+00:00,NaN,2014-11-23 15:23:21.750000+00:00,NaT,None,NaN,None,826983.0,None,1,2,python,139
16,21489242,Is there a way to output multiple lists from a...,<p>Something like</p> <pre><code>x y = [expres...,21489290.0,2,1,NaT,2014-01-31 20:16:05.070000+00:00,NaN,2014-02-01 01:22:39.083000+00:00,2014-01-31 23:58:00.633000+00:00,None,2585497.0,None,2585497.0,None,1,3,python,69
17,25574418,check if the second element of tuples in list ...,<p>I would like to check if the second element...,25574455.0,2,2,NaT,2014-08-29 18:46:14.783000+00:00,NaN,2014-08-29 19:10:10.397000+00:00,2014-08-29 18:48:14.657000+00:00,None,1914034.0,None,1914034.0,None,1,0,python,194
18,33906423,Reading some files and passing to a constructo...,<p>I have a class that needs a list of words t...,33907538.0,2,3,NaT,2015-11-25 00:23:23.980000+00:00,NaN,2015-11-25 02:47:02.317000+00:00,2015-11-25 00:30:59.860000+00:00,None,307283.0,None,307283.0,None,1,2,python,35
19,32660761,running a python file thats in a diffrent dire...,<p>Right now I am using the import command to ...,32660873.0,2,5,NaT,2015-09-18 20:47:24.033000+00:00,NaN,2015-09-28 22:40:32.870000+00:00,2015-09-28 22:40:32.870000+00:00,None,5200523.0,None,5200523.0,None,1,0,python,33

## Display the Dive visualization for the data

In [4]:
# Display the Dive visualization for the training data.
from IPython.core.display import display, HTML

jsonstr = df.to_json(orient='records')

In [ ]:
HTML_TEMPLATE = """
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.3.3/webcomponents-lite.js"></script>
        <link rel="import" href="https://raw.githubusercontent.com/PAIR-code/facets/1.0.0/facets-dist/facets-jupyter.html">
        <facets-dive id="elem" height="600"></facets-dive>
        <script>
          var data = {jsonstr};
          document.querySelector("#elem").data = data;
        </script>"""
html = HTML_TEMPLATE.format(jsonstr=jsonstr)
display(HTML(html))